@media (max-width: 800px) {
  header {
    grid-template-columns: 1fr 40px;
  }
  header nav {
    display: none;
    max-width: 450px;
  }
  header .burger {
    display: flex;
  }
  header.active {
    height: auto;
    grid-template-columns: 1fr 40px;
    grid-template-areas: "logo burger" "nav nav";
  }
  header.active .logo {
    grid-area: logo;
  }
  header.active nav {
    display: block;
    grid-area: nav;
    width: 100%;
    max-width: unset;
    padding-bottom: 30px;
  }
  header.active nav ul {
    flex-direction: column;
  }
  header.active .burger {
    grid-area: burger;
  }
  header.active .burger.active span {
    background-color: #0f3fb6;
  }
}
@media (max-width: 1200px) {
  .user img {
    height: 380px;
  }
}
@media (max-width: 768px) {
  main .section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
  }
  .user img {
    height: 300px;
  }
}
@media (max-width: 460px) {
  .tools .items {
    grid-template-columns: 1fr;
  }
}