@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/*---HEADER---*/
header {
  width: 100%;
  height: 84px;
  background: #5373fd;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 15px;
  box-sizing: border-box;
}
header a {
  text-decoration: unset;
}
header .logo {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 40px;
}
header nav ul li a {
  color: #fff;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
header nav ul li a:hover {
  color: rgb(14, 14, 93);
}
header .burger {
  box-sizing: border-box;
  width: 40px;
  height: 84px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
header .burger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
}

@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr 40px;
    grid-template-areas: "logo burger" "menu menu";
  }
  header .logo {
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
  }
  header nav {
    display: none;
    grid-area: menu;
    justify-content: center;
  }
  header .burger {
    grid-area: burger;
    display: flex;
  }
  header.active {
    height: auto;
    grid-template-rows: 84px 80px;
  }
  header.active nav {
    display: flex;
  }
}
/*---HEADER END---*/
/*---SECTION 1---*/
.section_1 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_1 > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.section_1 .Bhromaon {
  max-width: 647px;
  width: 100%;
}
.section_1 .Bhromaon h1 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section_1 .Bhromaon h4 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.section_1 .Bhromaon .search {
  position: relative;
  display: flex;
  align-items: center;
}
.section_1 .Bhromaon .search input {
  border: unset;
  width: 100%;
  height: 60px;
  background: #fff;
  color: #999;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  position: relative;
}
.section_1 .Bhromaon .search button {
  border: unset;
  position: absolute;
  right: 10px;
  width: 139px;
  height: 52px;
  background: #5373fd;
  color: #fff;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.section_1 .Bhromaon .search button img {
  width: 16px;
  height: 16px;
  left: 12px;
}
.section_1 a {
  position: absolute;
  bottom: 10px;
  color: #fff;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-decoration: unset;
}
.section_1 a img {
  width: 10px;
  height: auto;
}

/*---SECTION END---*/
main .section_3 {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

main .section_3 > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .section_3 .all {
  display: flex;
  gap: 136px;
  padding: 0 15px;
  top: 124px;
  align-items: center;
}

main .section_3 .all .text {
  position: relative;
  top: 150px;
}
h2 {
  color: #fff;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

p {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}

.section_3 button {
  width: 213px;
  height: 60px;
  background: #5373fd;
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-top: 32px;
}

main .section_3 .all .title {
  position: relative;
  align-items: center;
  justify-content: center;
  top: 124px;
}

main .section_3 .all .title .Image_1 {
  width: 350px;
}

main .section_3 .all .title .Image_2 {
  padding: 16px 74px;
  width: 350px;
}
@media (max-width: 768px) {
  main .section_3 .all {
    display: grid;
    padding: 15px 15px;
    gap: 10px;
  }
  main .section_3 .all .text {
    top: 0;
  }
  main .section_3 .all .title .Image_2 {
    padding: 0;
  }
  main .section_3 .all .title {
    top: 0;
  }
  main .section_3 .all .text button {
    margin-top: 0;
  }
  main .section_3 .all .text h2 {
    margin-bottom: 0;
  }
}
@media (max-width: 854px) {
  main .section_3 .all .title .Image_2 {
    padding: 0;
  }
}
main .section_4 {
  width: 100%;
  height: 100%;
  background: #333;
  padding: 0 5px;
  box-sizing: border-box;
}
main .section_4 .line {
  stroke-width: 1px;
  stroke: #fff;
  opacity: 0.502;
  align-items: center;
  justify-content: center;
  display: flex;
}
main .section_4 .icon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section_4 .icon ul li h3 {
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}
main .section_4 .icon ul li img {
  width: 64px;
  height: 64px;
  margin-left: 83px;
}
@media (max-width: 768px) {
  main .section_4 .icon ul {
    display: grid;
    padding: 5px 15px;
    justify-content: center;
  }
  main .section_4 .line {
    display: none;
  }
}
main .section_5 {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

main .section_5 > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .section_5 .Grand_Spain {
  background: rgba(35, 35, 35, 0.9);
  position: relative;
  padding: 44px 32px;
  top: 220px;
  left: 200px;
  max-width: 548px;
}

main .section_5 .Grand_Spain h5 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

main .section_5 .Grand_Spain h6 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.section_5 button {
  width: 213px;
  height: 60px;
  background: #5373fd;
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-top: 32px;
}
@media (max-width: 768px) {
  main .section_5 .Grand_Spain {
    left: 0;
  }
}

main .section_6 {
  position: relative;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

main .section_6 > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .section_6 .Grand_Spain {
  background: rgba(35, 35, 35, 0.9);
  position: relative;
  padding: 44px 32px;
  max-width: 548px;
  margin-left: 350px;
  top: 220px;
}

main .section_6 .Grand_Spain h5 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.section_6 button {
  width: 213px;
  height: 60px;
  background: #5373fd;
  color: #fff;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-top: 32px;
}
h6 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  main .section_6 .Grand_Spain {
    left: 0;
    margin-left: 0;
  }
}
main .section_7 {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

main .section_7 .BG > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .section_7 h2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 120px;
}

main .section_7 .Sam {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 15px 0 0px;
}

main .section_7 .Sam img {
  width: 440px;
  height: 280px;
}

main .section_7 .Sam .text_1 {
  background: #333;
  margin-left: 15px;
  max-width: 885px;
  width: 100%;
  padding: 48px 60px;
}

main .section_7 .Sam .text_1 p {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
}

main .section_7 .Sam p img {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  main .section_7 .Sam {
    display: grid;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  main .section_7 h2 {
    top: 0;
    padding: 15px 0;
  }
  main .section_7 .Sam .text_1 {
    padding: 15px 15px;
    margin-left: 0;
    max-width: 410px;
  }
}

:root {
  --color-1: white;
}

svg.facebook:hover {
  --color-1: rgb(8, 56, 251), 229, 245;
}

:root {
  --color-1: white;
}

svg.twitter:hover {
  --color-1: rgb(8, 182, 251) 198, 25145;
}

:root {
  --color-1: #5373fd;
}

svg.linkedin:hover {
  --color-1: rgb(57, 8, 251) 198, 25145;
}

:root {
  --color-1: white;
}

svg.youtube:hover {
  --color-1: rgb(251, 8, 8) 198, 25145;
}

:root {
  --color-1: white;
}

svg.pinterest:hover {
  --color-1: rgb(251, 8, 8) 198, 25145;
}

footer .section_8 {
  height: 268px;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

footer .section_8 h3 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 8px 0;
}

footer .section_8 h5 {
  color: #fff;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .section_8 .svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

footer .section_8 .svg nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

footer .section_8 .svg nav ul li {
  width: 31px;
  height: 32px;
}

/*# sourceMappingURL=style.css.map */
